Lyapunov exponents for logistuc map.png
Lyapunov exponents for logistuic map.png
LAB2-figs/.ipynb_checkpoints/GHCA-checkpoint.gif
Task2-data/lims_accuracy_2e-5_reps_1000.npy
Task2-data/lims2_accuracy_2e-5_reps_1000.npy
